<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body ng-app="myApp">
    <div ng-controller="pagerCtrl">
        <div ng-repeat="item in page.items">
            <span>{{item.content}}</span><br/>
        </div>

        <div pagenation  page="page"></div>
        <div>
            <button >上一页</button>&nbsp;<button>下一页</button>
        </div>
    </div>

</body>
<script src="lib/angular.js"></script>
<script>
    var app = angular.module('myApp', []);

    app.directive("pagenation",function(){
        return {
            restrict:'AE',
            scope:{
                //change:"&",
                page:"="
            },
            template:'<div>'+
                        '<button ng-click="perPage()">上一页</button>&nbsp;<button ng-click="nextPage()">下一页</button>'+
                    '</div>',

            controller:function($scope){
                console.log($scope.page);
                $scope.page = {"items":[{"content":"hello"},{"content":"world"}]};
                $scope.perPage = function(){
                    //console.log(page);
                    //page = {"items":[{"content":"two"},{"content":"one"}]};
                    $scope.page = {"items":[{"content":"two"},{"content":"one"}]};
                };

                $scope.nextPage = function(){
                    //console.log(page);
                    //page = {"items":[{"content":"two"},{"content":"one"}]};
                    $scope.page = {"items":[{"content":"one"},{"content":"two"}]};
                };
            }
        }
    });

    app.controller("pagerCtrl",function($scope){
        console.log("run here");
        $scope.page = {};//{"items":[{"content":"one"},{"content":"two"}]};

    });

</script>
</html>